@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800');



body{
	
	font-family: 'Khula', sans-serif !important;
	color:#999999 !important;
	font-size: 15px !important;
	
}
.header_section{
	padding-top: 18px;
}
.main_menu {
	padding-top:10px;
}
.main_menu ul{
	margin:0;
	padding:0;
	list-style: none;
}
.main_menu ul li{
	display: inline-block;
	position: relative;
}
.main_menu ul li a{
	color: #888888;
	
	padding: 14px;
}
.main_menu ul li:active a{
	color:#ef476f !important;
	text-decoration: none
}
.main_menu ul li:hover a{
	color:#ef476f;
	text-decoration: none
}
.box_btn{
	background: #ef476f;
	display: inline-block;
	
	
	border-radius: 3px;
}
.box_btn a{
	color: #fff !important;;
	padding: 14px 22px;
	text-decoration: none !important;
	display: block;
}
.box_btn :hover a{
	text-decoration: none !important;
}
.section_padding{
	padding-top: 150px;
}
.hero_section{}
.hero_section h1{
	color: #373737;
	font-size: 40px;
	margin-bottom: 15px;
}
.hero_section p{
	margin-bottom: 30px;
}
.hero_section .hero_form input[type=text]{
	border: 1px solid #efefef;
	padding: 10px 61px 10px 11px;
	
}

.hero_section form input[type=submit]{
	background: #ef476f;
	border: #ef476f;
	border-radius: 4px;
	
	padding: 12px 24px 12px 24px;
	color: #fff;
	text-align: center;
	font-weight: 500;
}

.hero_section{
	border-bottom: 1px solid #efefef;
	padding-bottom: 150px
}

.section_title {
	text-align: center;
	padding-bottom: 90px;
}
.section_title h2{
	color: #373737;
	font-size: 28px;
}

.single_service{
	border: 1px solid #efefef;
	padding: 40px;
	text-align: center;
	margin-bottom: 20px;
}
.single_service:hover  {
	border: 1px solid #ef476f;
}
.single_service a{
	color: #373737;
	text-decoration: none;
	display: inline;
}
.single_service h3{
	color: #333
}
.single_service:hover h3{
	color: #ef476f
}

.single_service a:hover{
	text-decoration: none;
	color: #373737;
}
.single_service:hover a{
	color: #ef476f;
}

.service_bottom_content{
	max-width: 500px;
	padding-top: 68px;
}
.service_bottom_content h1{
	font-size: 28px;
	color: #373737;
}

.case_study_area{
	background:#fbfbfb
}
.case_single_car{
	background-image:url(../images/01.jpg);
	display: table;
	width: 100%;
	height: 318px;
	position: relative;
	
	
}

.case_single_car_inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	background:#ef476f;
	opacity: 0;
	visibility: hidden;
	transition: 3 sec;
	color: #fff;
	border-radius: 4px;
	
}
.case_single_car_inner i{
	color: #999;
	padding-top: 7px
}

.case_single_car:hover .case_single_car_inner{
	opacity: 1;
	visibility: visible;
	
}
.case_single_car_inner i{
	background: #fff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	
}

.single_test_car_inner {
	text-align: center
}

.single_test_car_inner h2{
	color: #373737;
	font-size: 24px
}
.single_test_car_inner img{
	width: 65px !important;
	margin:auto;
	height: 65px;
	border-radius: 50%;
	margin-bottom: 15px
		
}
.single_test_car_inner h3{
	color: #373737;
	font-size: 18px;
}
.cta_section{
	background: #f8f8f8;
	padding: 65px 0px 65px 0px;
	margin-top: 150px
}

.cta_section h1{
	color: #373737;
	font-size: 28px;
	padding-top: 10px;
}
.single_box{
	border: 1px solid #efefef;
	text-align: center;
	padding: 30px;
	width: 100%;
	height: 550px;
}
.single_box .box_head h4{
	color: #373737;
	font-size: 20px;
}

.single_box .box_head .dollar{
	color: #ef476f;
	font-size: 50px;
}
.single_box .box_head p{
	line-height: 1.3
}
.box_head{
	border-bottom: 1px solid #efefef;
}
.box_list{}
.box_list ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.box_list ul li{
	line-height: 3.5
}

.single_box:hover{
	border: 1px solid #ef476f;
} 
.single_box:hover .box_head {
	border-bottom: 1px solid #ef476f;
}

.logo_car_section{
	margin-top: 100px;
}

.logo_car_section .single_logo_car .single_car_logo_inner img{
	width: 100%;
	height: 100px;
	
}
.footer_section{
	background: #F8F8F8;
	margin-top: 100px;
	padding-bottom: 100px
}

.single_footer h3{
	color: #373737;
	font-size: 20px;
	margin-bottom: 28px;
}
.single_footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.single_footer ul li{
	line-height: 2.1
	
}
.single_footer ul li a{
	text-decoration: none;
	color: #999999;
}
.footer_form input[type=text]{
	border: 1px solid #f6f6f6;
	background: #E0DEDE;
	padding: 10px 15px 10px 12px;
	border-radius: 2px;
}
.footer_form input[type=submit]{
	background: #ef476f;
	border: 1px solid #ef476f;
	color: #fff;
	text-align: center;
	padding: 10px 30px 10px 30px;
	margin-left: -4px
}

.footer_bottom_section {
	background:#e0dede;
	padding: 8px
}

.footer_bottom_section p{
	margin-top: 8px;
	color: #999999
}

.single_service .service_icon i{
	color: #333;
	font-size: 26px;
	margin-bottom: 15px;
}
.single_service:hover .service_icon i{
	color: #ef476f
}
